<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chai as Promised Browser Tests: with <%= library.name %></title>

    <link rel="stylesheet" href="../../node_modules/mocha/mocha.css" />

    <script src="http://jashkenas.github.com/coffee-script/extras/coffee-script.js"></script>
    <script src="../../node_modules/mocha/mocha.js"></script>
    <script src="../../node_modules/chai/chai.js"></script>
    <script src="../../lib/chai-as-promised.js"></script>

    <script>
        window.global = window;
        mocha.setup("bdd");
    </script>

    <script><%= library.shim %></script>
    <script src="<%= library.uri %>"></script>
    <script><%= library.adapter %></script>

    <script src="../support/common.js"></script>
    <script src="../support/browser.js"></script>

    <%= testScriptTags.join("\n    ") %>
</head>
<body>
    <div id="mocha"></div>
    <script>
        setTimeout(function () {
            mocha.run();
        }, 2000);
    </script>
</body>
</html>
