# This workflow will do two jobs; lint and test. Lint will do a clean install of node dependencies and lint the source code. Test will do a install of node dependencies, install a specific version of chai and run tests across different versions of node and chai
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: latest
      - run: npm ci
      - run: npm run lint
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
          - 18 # to be removed 2025-04-30
          - 20 # to be removed 2026-04-30
          - latest
          # See supported Node.js release schedule at https://github.com/nodejs/release#release-schedule
        chai-version:
          - '^4.0.0'
          - '^5.0.0'

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - name: Install chai ${{ matrix.chai-version }}
        run: npm install chai@${{ matrix.chai-version }}
      - run: npm run test
